extends base

block content
   p Use this site to get weather!
   form(action="")
      input(type="text" placeholder="Location")
      button(type="submit") Search

      p(id="message-1")
      p(id="message-2")
   